body {
  background-color: #d6c9c2;
  font-family: Helvetica, Arial, sans-serif;
}

h1 {
  color: #d6c9c2;
  background-color: #322e2b;
  padding: 8px 0;
  text-align: center;
}

h2, strong {
  color: #24211f;
}

p {
  display: block;
}

.content {
  max-width: 760px;
  margin: auto;
}

.top-img {
  width: 100%;
  height: auto;
}

.recipe-link:hover {
  border-color: #24211f;
  background-color: #ebe4e1;
}

.recipe-link {
  display: inline-block;
  margin: 8px;
  padding: 8px;
  background-color: #e0d6d2;
  border: 1px solid;
  border-radius: 6px;
  border-color: #c2ada4;
}

.link-img {
  width: 200px;
  height: 200px;
}

.link-text {
  display: block;
  text-align: center;
}
