body {
  background-color: #fffff0;
  font-family: Helvetica, Arial, sans-serif;
}

h1 {
  color: #fffff0;
  background-color: #2f4f4f;
  padding: 8px 0;
  text-align: center;
}

h2, strong {
  color: #1c2f2f;
}

p {
  display: block;
}

.thumbnail-row {
  display: inline-block;
  margin: 8px;
  padding: 8px;
  border: 1px solid;
  border-radius: 6px;
  border-color: #1c2f2f;
}

.link-img {
  width: 200px;
  height: 200px;
}

.link-text {
  display: block;
  text-align: center;
}

.content {
  max-width: 960px;
  margin: auto;
}